@import "reset.css";

.defualt-font-style {
  text-align: center;
  text-shadow: -1.5px 0px black, 0px 1.5px black, 1.5px 0px black,
    0px -1.5px black;
  color: white;
}

.weather {
  display: flex;
  flex-direction: column;
  align-items: end;
  position: absolute;
  top: 15px;
  right: 15px;
}

body {
  background-size: cover;
}

.clock {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: baseline;
  font-weight: 800;
}

.clock h2:first-child {
  font-size: 120px;
}

.clock h2:last-child {
  font-size: 60px;
}

.greeting {
  font-size: 100px;
  font-weight: 600px;
}

.main {
  width: 100%;
  margin-top: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.quote {
  position: absolute;
  bottom: 5px;
  left: 33%;
  right: 33%;

  font-size: 20px;
  align-items: center;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.login-form {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.login-form input:first-child {
  align-items: center;
  margin: 20px 0px;
  width: 350px;
  height: 50px;
  background-color: rgba(0, 0, 0, 0);
  border: none;
  border-bottom: 3px solid #00ff80;
  font-size: 20px;
  transition: all 0.5s ease-in-out;
}

.login-form input:focus,
.to-do-form input:focus {
  outline: none;
}

.login-form input::placeholder {
  color: gray;
  font-size: 32px;
}
.login-form input:first-child:focus-within,
.to-do-form input:first-child:focus-within {
  transform: scale(1.05);
}
.login-form input::placeholder {
  color: gray;
  font-size: 32px;
}

.to-do-form input::placeholder {
  color: gray;
  font-size: 25px;
}

.login-form input:last-child {
  margin-top: 10px;
  margin-left: 10px;
  align-items: center;
  width: 40px;
  height: 40px;
  background-color: #00ff80;
  font-size: 20px;
  font-weight: 600;
  border-radius: 50%;
  text-align: center;
}

.to-do-form input {
  align-items: center;
  margin: 20px 0px;
  width: 300px;
  height: 50px;
  background-color: rgba(0, 0, 0, 0);
  border: none;
  border-bottom: 3px solid red;
  font-size: 20px;
  transition: all 0.5s ease-in-out;
}

.to-do-list {
  width: 280px;
  display: flex;
  flex-direction: column;
  align-items: baseline;
}

.to-do__btn {
  border: 2px solid black;
  border-radius: 8px;
  background-color: yellow;
  color: rgba(255, 0, 0, 0.5);
  align-items: center;
  text-align: center;
  font-size: 15px;
  font-weight: 800;
  margin-right: 5px;
}

.to-do__li {
  margin-bottom: 5px;
}

.to-do__span {
  font-size: 12px;
}

.hidden {
  display: none;
}

.login-form input:last-child:hover {
  animation: pressOkBtn 1.6s ease-in-out infinite;
}

@keyframes pressOkBtn {
  0% {
    transform: none;
  }
  25% {
    transform: rotateZ(-45deg);
  }

  50% {
    transform: rotateZ(0deg);
  }
  75% {
    transform: rotateZ(45deg);
  }
  100% {
    transform: rotateZ(0deg);
  }
}
