.hidden {
  display: none;
}

.background-img {
  opacity: 0.4;
  width: 100vw;
  height: 100vh;
  z-index: 0;
}

.clock {
  color: black;
  font-size: 80px;
  text-align: center;
}

body {
  background-image: "0.png";
}
